/*----------------------- VISTA MOBILE -----------------------*/
    .h2comprar {
        @include flex(column,center,center);
        width: 100vw;
        color: #dbd033;
    }
    .pdecomprar {
        text-align: justify;
        width: 90vw;
        color: white;
        font-family: 'EB Garamond', serif;
    }
    .buttomcomprar {
        width: 45vw;
        color: rgba(250, 242, 242, 0.911);
        font-size: 14px;
        border-radius: 20px;
        background-color: #dc354582;
        margin-bottom: 15px;
}

.main-comprar {
    overflow: hidden;
}

/*----------------------- VISTA TABLET -----------------------*/

@media (min-width: 426px) {
    .buttomcomprar {
        width: 35vw;
        color: rgba(250, 242, 242, 0.911);
        font-size: 20px;
        border-radius: 20px;
        background-color: #dc354582;
        margin-bottom: 20px;
    }
}

/*----------------------- VISTA DESKTOP -----------------------*/

@media (min-width: 769px) {
    .buttomcomprar {
        width: 23vw;
        height: 10vh;
        color: rgba(250, 242, 242, 0.911);
        font-size: 20px;
        border-radius: 20px;
        background-color: #dc354582;
        margin-bottom: 25px;
    }

    .h2comprar {
        margin-top: 25px;
    }

    .pdecomprar {
        font-size: 30px;
        margin-top: 15px;
        font-family: 'EB Garamond', serif;
    }

@media (min-width: 1000px) {
    .buttomcomprar {
        width: 23vw;
        height: 7vh;
        color: rgba(250, 242, 242, 0.911);
        font-size: 20px;
        border-radius: 20px;
        background-color: #dc354582;
        margin-bottom: 25px;
    }
}
}