/*----------------------- VISTA MOBILE -----------------------*/

.section1 {
    height: 761px;
    @include flex(column,space-between,center);
    }
    .formulariodos {
    display: flex;
    flex-direction: column;

    .botoncontacto {
        width: 35vw;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    .formulario {
        @include flex(column,center,center);
        font-size: 28px;
        color: rgb(255, 255, 255);
        font-family: 'EB Garamond', serif;
        
        .formulario1 {
            width: 58vw;
        }
    
        .formulario3 {
            width: 59vw;
            height: 55vh;
            resize: none;
        }
    }
}

/*----------------------- VISTA TABLET -----------------------*/

@media (min-width: 426px) {
    .formulario3 {
        width: 59vw;
        height: 30vh;
        resize: none;
    }

    .botoncontacto {
        width: 25vw;
    }

    .section1 {
        height: 761px;
        @include flex(column,space-between,center);
        
    }
}


/*----------------------- VISTA DESKTOP -----------------------*/

@media (min-width: 769px) {
    .formulario1 {
        width: 30vw;
        height: 5vh;
    }

    .formulario3 {
        width: 45vw;
        height: 35vh;
    }

    .botoncontacto {
        width: 16vw;
        margin-top: 15px;
        margin-bottom: 20px;
        resize: none;
    }

    .section1 {
        height: 731px;
        @include flex(column,space-between,center);
        
    }
}

/*----------------------- VISTA DESKTOP (MAYOR TAMAÑO) -----------------------*/
@media (min-width: 1024px) {
    .formulariodos .botoncontacto {
        width: 10vw;
}

.section1 {
    height: 774px;
    @include flex(column,space-between,center);
    
}
}