/*----------------------- VISTA MOBILE -----------------------*/

/* -MAIN- */

main {
    margin-top: 60px;
    background-color: $colorbody
}

.section {
    @include flex(column,space-between,center);
}

/*img principal*/
    .imgclass {
    width: 90vw;
    height: 20vh;
    margin: 3vw;
    border-radius: 5%;
    box-shadow: 5px 20px 20px #000000;
    
    }

    .imgclass2 {
    width: 90vw;
    height: 40vh;
    }
    
    .imgclass3 {
    width: 90vw;
    height: 29vh;
    border-radius: 5%;
    box-shadow: 5px 20px 20px #000000;
    }
    
    .pdelindex {
        text-align: justify;
        width: 80vw;
        color: white;
    }

    .pdelindex1 {
        font-size: 16px;
        text-align: justify;
        width: 80vw;
        color: rgb(255, 255, 255);
        padding-top: 20px;
    }

    .h2-link {
        color:#3ad375cc
    }

    h1 {
        margin-top: 20px;
    }

    li {
        list-style: none;
    }

/*----------------------- VISTA TABLET -----------------------*/

@media (min-width: 426px) {
    .imgclass {
        width: 90vw;
        height: 30vh;
        margin: 3vw;
        border-radius: 5%;
        box-shadow: 10px 20px 20px #000000;
        }

    .imgclass3 {
        width: 90vw;
        height: 35vh;
        border-radius: 5%;
        box-shadow: 10px 20px 20px #000000;
    }

    p {
        font-size: 20px;
        text-align: justify;
        width: 90vw;
        color: white;
    }

    .pdelindex1 {
        font-size: 20px;
        text-align: justify;
        width: 80vw;
        color: rgb(255, 255, 255);
        padding-top: 20px;
    }
}
/*----------------------- VISTA DESKTOP -----------------------*/

@media (min-width: 769px) {

    .imgclass {
        width: 80vw;
        height: 40vh;
        border-radius: 5%;
        box-shadow: 20px 20px 20px #000000;
    }

    .imgclass3 {
        width: 80vw;
        height: 40vh;
        border-radius: 5%;
        box-shadow: 20px 20px 20px #000000;
    }

    .pdelindex {
        font-size: 23px;
        color: rgb(255, 255, 255);
    }

    .pdelindex1 {
        font-size: 23px;
        color: rgb(255, 255, 255);
        padding-top: 20px;
    }

    .h2-link {
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }

    @keyframes aparecer {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

/*----------------------- VISTA DESKTOP (MAYOR TAMAÑO) -----------------------*/
    @media (min-width: 1024px) {
        .imgclass {
            width: 60vw;
            height: 50vh;
            border-radius: 5%;
            box-shadow: 20px 20px 20px #000000;
        }

        .h2-link {
            animation-duration: 4s;
            animation-name: aparecer;
            animation-iteration-count: initial;
        }

        @keyframes aparecer {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        .imgclass3 {
            width: 60vw;
            height: 50vh;
            border-radius: 5%;
            box-shadow: 20px 20px 20px #000000;
        }
    }
}