/* -FOOTER- */

footer {
    background-color: #191919;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    div {
        font-size: 16px;
        color: #34b17d;
        text-decoration: none;
        a {
            font-size: 16px;
            color: #34b17d;
            text-decoration: none;
        }
        p {
            color: #34b17d;
            text-align: center;
            font-size: 16px;
        }
    }
}

/*----------------------- VISTA DESKTOP -----------------------*/
@media (min-width: 769px) {
    .footer-link {
        font-size: 26px;
        color: #34b17d;
    }
    
    .pdelfooter {
        font-size: 26px;
        color: #34b17d;
    }
}